body {background-color:#e0ebe8;}
hr {border-style: none;
    border-top: dotted;
    border-color: #fcfcfb;
    border-width: 5px;
    width: 3%;
    height: 5px;
    color: grey;}

h1 {color: #4ab19a;
    font-family: "Franklin Gothic Book", regular;
    text-align: center;}

h4 {color: #4ab19a;}

p {text-align: center;}
